
.image1 {
    width: 100%;
    /* height: 470px; */
    background-image: url(./images/WhatsApp\ Image\ 2023-09-25\ at\ 5.27.15\ PM.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

}

.image2 {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url(./images/hero-banner-2.4c3d9d10.jpg);
}

.image2-overl {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgb(218, 51, 51);
    top: 0;
    left: 0;
    opacity: 0.85;
}

.bii {
    font-size: 70px;
}

.biii {
    font-size: 26px;
}

.image3 {
    border-right: 15px solid #da3333;
}

.image4 {
    width: 100%;
    height: 470px;
    background-image: url(./images/WhatsApp\ Image\ 2023-09-29\ at\ 9.15.53\ AM.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.diff {
    letter-spacing: 3px;
}

footer li a {
    text-decoration: none;
    color: #6C757D;
}

footer li a:hover {
    color: #da3333;
}

.bg-darker {
    background-color: black;
}

.bg-darker a {
    text-decoration: none;
}
    

.testimonial {
    padding: 80px 0;
}

.sec-heading {
    margin-bottom: 60px;
}

.sec-heading h6 {
    font-weight: 900;
    font-size: 80px;
}

.single-box {
    border: 3px solid #e6f0fa;
    padding: 50px 30px 40px;
    border-radius: 20px;
    background: #fff;
}

.img-area {
    margin: 45px 0 20px;
}

.single-box img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto
}

.single-box h4 {
    font-weight: 600;
    margin: 0;
    font-family: 'Allura', cursive;
    font-size: 35px;
}

.single-box {
    overflow: hidden
}

.single-box .img-area {
    width: 30%;
    float: left;
    margin: 0
}

.single-box .content {
    width: 70%;
    float: left;
    padding-left: 10px
}

.single-box p {
    margin: 10px 0 35px;
    line-height: 1.5;
    padding-top: 20px;
}

.testi-carousel-three .single-box {
    border: 0;
    padding: 0 50px;
}

.testi-carousel .owl-dots,
.clients-carousel .owl-dots,
.testi-carousel-three .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
}

.testi-carousel .owl-dot,
.clients-carousel .owl-dot,
.testi-carousel-three .owl-dot {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
}

.testi-carousel .owl-dot.active,
.clients-carousel .owl-dot.active,
.testi-carousel-three .owl-dot.active {
    background-color: #da3333;
}


